@tailwind base;

@layer base {
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--background);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--primary);
    border-radius: 10px;
  }

  /* For Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--background);
  }
}
